body
  background-color: black

.container
  height: 50em

#quote-box
  margin-top: 15em
  color: black
  padding: 50px
  border-radius: 20px
  
#mybutton
  float: right
  background-color: black
  color: white
  margin-top: 55px
  border-radius: 5px